slides > slide.title-slide {
  background-image: url("Images/intro_opx.png");
  background-size: 100% 100%;

}

slides > slide.title-slide p {
  color: white;
}

slides > slide.title-slide hgroup h1 {
  color: white;
}



